{% extends "base.html" %}
{% load form_tags %}
{% block title %} Book Transaction {% endblock title %}
	{% block content_title %}Book Transaction{% endblock content_title %}
	{% block content %}
				<div class="row-fluid">
					<div class="span12">
						<div class="box box-bordered box-color">
							<div class="box-title">
								<h3><i class="icon-th-list">Book Transasction</i> </h3>
							</div>
							<div class="box-content nopadding">
								<ul class="tabs tabs-inline tabs-top">
									<li>
										<a href="{% url 'profile_category' %}"><i class="icon-user"></i> Categories</a>
									</li>
									<li class='active'>
										<a href="{% url 'book_setting' %}"><i class="icon-bullhorn"></i> Transaction Book</a>
									</li>
								</ul>
								<form action="{{ request.path }}" method="POST" class='form-horizontal form-bordered'>
									{% csrf_token %}
									{{ form.name|bootstrap_form_group }}
									{{ form.description|bootstrap_form_group }}
									{{ form.initial_balance|bootstrap_form_group }}
									<div class="form-actions">
										<button type="submit" class="btn btn-primary">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
	{% endblock content %}

