{% extends "base.html" %}
{% load form_tags %}

{% block title %} Edit Profile {% endblock title %}

{% block extra_static %}
<script src="{{ STATIC_URL }}js/eakroko.min.js"></script>
{% endblock extra_static %}

	{% block content %}
				
				<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3>
								<i class="icon-user"></i>
								Edit user profile
							</h3>
						</div>
						<div class="box-content nopadding">
							<div class="tab-content padding tab-content-inline tab-content-bottom">
								<div class="tab-pane active" id="profile">
									<form action="{% url 'edit_profile' %}" method="POST" class="form-horizontal">
										{% csrf_token %}
										<div class="row-fluid">
											<div class="span12">
												{{ form.username|bootstrap_form_group:'input-xlarge' }}
												{{ form.email|bootstrap_form_group:'input-xlarge' }}
												{{ form.address|bootstrap_form_group:'input-xlarge' }}
												{{ form.city|bootstrap_form_group:'input-xlarge' }}
												{{ form.state|bootstrap_form_group:'input-xlarge' }}
												{{ form.phone|bootstrap_form_group:'input-xlarge' }}
												
												<div class="form-actions">
													<input type="submit" class='btn btn-primary' value="Save">
													<input type="reset" class='btn' value="Discard changes">
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	{% endblock content %}

