{% extends "base.html" %}
{% load form_tags %}
{% block title %} Note {% endblock title %}
	{% block content_title %}Note{% endblock content_title %}
	{% block content %}
				<div class="row-fluid">
						<div class="span12">
							<div class="box">
								<div class="box-title">
									<h3>
										<i class="icon-link"></i>
										Note
									</h3>
								</div>
								<div class="box-content">
									{% for note in notes %}
									<blockquote>
										<span>{{ note.title }}</span>
										<p>
											{{ note.content|safe }}
										</p><br>
										<form action="{% url 'remove_note' note.id %}" method="POST">
											{% csrf_token %}
											<button type="submit" class="btn btn-danger">Remove</button>
										</form>
									</blockquote>
									<hr>
									{% endfor %}
									<blockquote>
										<p>
											<a href="#CreateNote" class="btn btn-primary" data-toggle="modal"><i class="icon-edit"></i> Create Note</a>
										</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
	{% endblock content %}

	{% block extra_body %}
		<div id="CreateNote" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="form-edit-category" method="POST" action="{{ request.path }}">
			{% csrf_token %}
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Create note</h3>
			</div>
			<div class="modal-body">
				{{ form.title|bootstrap_form_group }}
				{{ form.content|bootstrap_form_group }}
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
			</form>
		</div>
	{% endblock extra_body %}