{% extends "base.html" %}
{% load form_tags %}
{% block title %} Categories Setting {% endblock title %}
	{% block content_title %} Categories Setting {% endblock content_title %}
	{% block content %}
				<div class="row-fluid">
					<div class="span12">
						<div class="box box-bordered box-color">
							<div class="box-title">
								<h3><i class="icon-th-list">Categories</i> </h3>
							</div>
							<div class="box-content nopadding">
								<ul class="tabs tabs-inline tabs-top">
									<li class='active'>
										<a href="{% url 'profile_category' %}"><i class="icon-user"></i> Categories</a>
									</li>
									<li>
										<a href="{% url 'book_setting' %}"><i class="icon-bullhorn"></i> Transaction Book</a>
									</li>
								</ul>
								<div class="row-fluid">
								<div class="span6">
									<div class="box">
									<div class="box-title">
										<h3>
											Expense
										</h3>
									</div>
									<div class="box-content">
										<ul>
										{% for category in expense_categories %}
											<li>
												{{ category.name }}
												<div class="btn-group pull-right">
													<a href="#" data-toggle="dropdown" class="btn dropdown-toggle"> 
														Action <span class="caret"></span>
													</a>
													<ul class="dropdown-menu">
														<li class="text-center">
															<a href="#EditCategory" category-name="{{ category.name }}" category-url="{% url 'edit_expense_category' category.id %}" data-toggle="modal" class="edit-category">Edit</a>
														</li>
														<li class="text-center">
															<form method="POST" action="{% url 'remove_category' category.id %}">
																{% csrf_token %}
																<button type="submit" class="btn btn-red">Remove</button>
															</form>
														</li>
													</ul>
												</div>
											</li>
											<br>
										{% endfor %}
										</ul>
										<hr>
										<form class="form-horizontal" method="POST" action="{% url 'create_expense_category' %}">	
											{% csrf_token %}
											{{ form.name|bootstrap_form_group }}
											<div class="form-actions">
												<input type="submit" class='btn btn-primary' value="Create Category">
											</div>
										</form>
									</div>
									</div>
								</div>
								<div class="span6">
									<div class="box">
									<div class="box-title">
										<h3>
											Revenue
										</h3>
									</div>
									<div class="box-content">
										<ul>
										{% for category in revenue_categories %}
											<li>
												{{ category.name }}
												<div class="btn-group pull-right">
													<a href="#" data-toggle="dropdown" class="btn dropdown-toggle"> 
														Action <span class="caret"></span>
													</a>
													<ul class="dropdown-menu">
														<li class="text-center">
															<a href="#EditCategory" category-name="{{ category.name }}" category-url="{% url 'edit_revenue_category' category.id %}" data-toggle="modal" class="edit-category">Edit</a>
														</li>
														<li class="text-center">
															<form method="POST" action="{% url 'remove_category' category.id %}">	
																{% csrf_token %}
																<button type="submit" class="btn btn-red">Remove</button>
															</form>
														</li>
													</ul>
												</div>
											</li>
											<br>
										{% endfor %}
										</ul>
										<hr>
										<form class="form-horizontal" method="POST" action="{% url 'create_revenue_category' %}">
											{% csrf_token %}
											{{ form.name|bootstrap_form_group }}
											<div class="form-actions">
												<input type="submit" class='btn btn-primary' value="Create Category">
											</div>
										</form>
									</div>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	{% endblock content %}

	{% block extra_body %}
		<div id="EditCategory" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="form-edit-category" method="POST" action="{{ request.path }}">
			{% csrf_token %}
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Edit Category</h3>
			</div>
			<div class="modal-body">
				<div class="control-group  required">
    				<label class="control-label right">Name:</label>
    				<div class="controls">
    					<input class=" form-control" id="id_name_edit" maxlength="100" name="name" placeholder="Name" required="" type="text">  
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
			</form>
		</div>

		<script type="text/javascript">
			$(function(){
				$('.edit-category').click(function(event){
					$('#form-edit-category').attr('action', $(this).attr('category-url'));
					$('#id_name_edit').val($(this).attr('category-name'));
				});
			});
		</script>
	{% endblock extra_body %}
