{% extends 'base_login.html' %}

{% block content %}
<body class='login'>
	<div class="wrapper">
		<h1><a href="index.html"><img src="{{ STATIC_URL }}img/logo-big.png" alt="" class='retina-ready' width="59" height="49">Cash Flow</a></h1>
		<div class="login-body">
			<h2>SIGN IN</h2>

			<form action="{% url 'account_login' %}" method='POST' class='form-validate' id="test">
				{% if form.errors and not form.email.errors and not form.password.errors %}
					<span for="email" class="help-block error">The email and/or password you specified are not correct.{{form.errors}}</span>
				{% endif %}

				{% csrf_token %}
				<div class="control-group {% if form.email.errors %} error {% endif %}">
					<div class="email controls">
						<input type="text" name='email' placeholder="Email address" class='input-block-level'>
						{% if form.email.errors %}
							<span for="email" class="help-block">{{ form.email.errors }}</span>
						{% endif %}
					</div>
				</div>
				<div class="control-group {% if form.password.errors %} error {% endif %}">
					<div class="pw controls">
						<input type="password" name="password" placeholder="Password" class='input-block-level'>
						{% if form.password.errors %}
							<span for="email" class="help-block">{{ form.password.errors }}</span>
						{% endif %}
					</div>
				</div>
				<div class="submit">
					<input type="submit" value="Sign in" class='btn btn-primary'>
				</div>
			</form>
			<div class="forget">
				<a href="{% url 'account_signup' %}"><span>Sign up?</span></a>
				<a href="#"><span>Forgot password?</span></a>
			</div>
		</div>
	</div>
</body>
{% endblock content %}
