{% extends 'base_login.html' %}

{% block content %}
<body class='login'>
	<div class="wrapper">
		<h1><a href="index.html"><img src="{{ STATIC_URL }}img/logo-big.png" alt="" class='retina-ready' width="59" height="49">Cash Flow</a></h1>
		<div class="login-body">
			<h2>SIGN UP</h2>
			<form action="{% url 'account_signup' %}" method='POST' class='form-validate' id="test">
				{% csrf_token %}
				<div class="control-group">
					<div class="email controls">
						<input type="text" name='email' placeholder="Email" class='input-block-level'>
						{% if form.email.errors %}
							<span for="email" class="help-block">{{ form.email.errors }}</span>
						{% endif %}
					</div>
				</div>
				<div class="control-group">
					<div class="email controls">
						<input type="text" name='username' placeholder="Username" class='input-block-level'>
						{% if form.username.errors %}
							<span for="username" class="help-block">{{ form.username.errors }}</span>
						{% endif %}
					</div>
				</div>
				<div class="control-group">
					<div class="pw controls">
						<input type="password" name="password" placeholder="Password" class='input-block-level'>
						{% if form.password.errors %}
							<span for="password" class="help-block">{{ form.password.errors }}</span>
						{% endif %}
					</div>
				</div>
				<div class="control-group">
					<div class="pw controls">
						<input type="password" name="confirm_password" placeholder="Confirm Password" class='input-block-level'>
						{% if form.confirm_password.errors %}
							<span for="confirm_password" class="help-block">{{ form.confirm_password.errors }}</span>
						{% endif %}
					</div>
				</div>
				<div class="submit">
					<input type="submit" value="Sign me in" class='btn btn-primary'>
				</div>
			</form>
			<div class="forget">
				<a href="{% url 'account_login' %}"><span>Already have an account? Sign in</span></a>
			</div>
		</div>
	</div>
</body>
{% endblock content %}
