<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	
	<title>{% block title %} {% endblock title %}</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<!-- Bootstrap responsive -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
	<!-- jQuery UI -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/jquery-ui/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/jquery-ui/smoothness/jquery.ui.theme.css">
	<!-- PageGuide -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/pageguide/pageguide.css">
	<!-- Fullcalendar -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/fullcalendar/fullcalendar.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/fullcalendar/fullcalendar.print.css" media="print">
	<!-- chosen -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/chosen/chosen.css">
	<!-- select2 -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/select2/select2.css">
	<!-- icheck -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/icheck/all.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<!-- Color CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/themes.css">


	<!-- jQuery -->
	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
	
	
	<!-- Nice Scroll -->
	<script src="{{ STATIC_URL }}js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<!-- jQuery UI -->
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.core.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.draggable.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>
	<!-- Touch enable for jquery UI -->
	<script src="{{ STATIC_URL }}js/plugins/touch-punch/jquery.touch-punch.min.js"></script>
	<!-- slimScroll -->
	<script src="{{ STATIC_URL }}js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<!-- Bootstrap -->
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<!-- vmap -->
	<script src="{{ STATIC_URL }}js/plugins/vmap/jquery.vmap.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/vmap/jquery.vmap.world.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/vmap/jquery.vmap.sampledata.js"></script>
	<!-- Bootbox -->
	<script src="{{ STATIC_URL }}js/plugins/bootbox/jquery.bootbox.js"></script>
	<!-- Flot -->
	<script src="{{ STATIC_URL }}js/plugins/flot/jquery.flot.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/flot/jquery.flot.bar.order.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/flot/jquery.flot.resize.min.js"></script>
	<!-- imagesLoaded -->
	<script src="{{ STATIC_URL }}js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
	<!-- PageGuide -->
	<script src="{{ STATIC_URL }}js/plugins/pageguide/jquery.pageguide.js"></script>
	<!-- FullCalendar -->
	<script src="{{ STATIC_URL }}js/plugins/fullcalendar/fullcalendar.min.js"></script>
	<!-- Chosen -->
	<script src="{{ STATIC_URL }}js/plugins/chosen/chosen.jquery.min.js"></script>
	<!-- select2 -->
	<script src="{{ STATIC_URL }}js/plugins/select2/select2.min.js"></script>
	<!-- icheck -->
	<script src="{{ STATIC_URL }}js/plugins/icheck/jquery.icheck.min.js"></script>

	<!-- Theme framework -->
	<script src="{{ STATIC_URL }}js/eakroko.min.js"></script>
	<!-- Theme scripts -->
	<script src="{{ STATIC_URL }}js/application.min.js"></script>
	<!-- Just for demonstration -->
	<script src="{{ STATIC_URL }}js/demonstration.min.js"></script>
	{% block extra_static %} {% endblock %}
	
	<!--[if lte IE 9]>
		<script src="{{ STATIC_URL }}js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
	<!-- Apple devices Homescreen icon -->
	<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/apple-touch-icon-precomposed.png" />

</head>


	{% block content %}

	{% endblock content %}

</html>

