<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	
	<title>{% block title %} {% endblock title %}</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<!-- Bootstrap responsive -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
	<!-- jQuery UI -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/jquery-ui/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/jquery-ui/smoothness/jquery.ui.theme.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<!-- Color CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/themes.css">


	<!-- jQuery -->
	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
	
	<!-- Nice Scroll -->
	<script src="{{ STATIC_URL }}js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<!-- imagesLoaded -->
	<script src="{{ STATIC_URL }}js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
	<!-- jQuery UI -->
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.core.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.draggable.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>
	<!-- Touch enable for jquery UI -->
	<script src="{{ STATIC_URL }}js/plugins/touch-punch/jquery.touch-punch.min.js"></script>
	<!-- slimScroll -->
	<script src="{{ STATIC_URL }}js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<!-- Bootstrap -->
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<!-- Bootbox -->
	<script src="{{ STATIC_URL }}js/plugins/bootbox/jquery.bootbox.js"></script>

	<!-- Theme framework -->
	<script src="{{ STATIC_URL }}js/eakroko.min.js"></script>
	<!-- Theme scripts -->
	<script src="{{ STATIC_URL }}js/application.min.js"></script>
	<!-- Just for demonstration -->
	<script src="{{ STATIC_URL }}js/demonstration.min.js"></script>

	<!--[if lte IE 9]>
		<script src="{{ STATIC_URL }}js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
	<!-- Apple devices Homescreen icon -->
	<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/apple-touch-icon-precomposed.png" />
	{% block extra_staticfiles %}

	{% endblock extra_staticfiles %}
</head>

<body>
	<div id="navigation">
		<div class="container-fluid">
			<a href="#" id="brand">Cash Flow</a>
			<a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation"><i class="icon-reorder"></i></a>
			<ul class='main-nav'>
				
			</ul>
			<div class="user">
				<ul class="icon-nav">
					<li >
						<a href="{% url 'profile_category' %}" ><i class="icon-cog"></i></a>
					</li>
				</ul>
				<div class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">
						{{ request.user.username }}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="{% url 'edit_profile' %}">Edit profile</a>
						</li>
						<li>
							<a href="{% url 'account_logout' %}">Sign out</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="content">
		<div id="left">
			<form action="search-results.html" method="GET" class='search-form'>
				<div class="search-pane">
					<input type="text" name="search" placeholder="Search here...">
					<button type="submit"><i class="icon-search"></i></button>
				</div>
			</form>
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Content</span></a>
				</div>
				<ul class="subnav-menu">
					<li>
						<a href="{% url 'transaction' %}">Transaction</a>
					</li>
					<li>
						<a href="{% url 'report' %}">Report</a>
					</li>
					<li>
						<a href="{% url 'note' %}">Note</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="main">
			<div class="container-fluid">
				<br>
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>{{ message|safe }}</strong>
					</div>
				{% endfor %}
				<div class="page-header">
					<div class="pull-left">
						<h1>{% block content_title %}{% endblock content_title %}</h1>
					</div>

				</div>
				
				{% block content %}

				{% endblock content %}

			</div>
		</div>
	</div>
		
	</body>
	{% block extra_body %} {% endblock extra_body %}
	</html>

