{% extends "base.html" %}
{% load form_tags %}
{% block extra_staticfiles %}
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
 
	<script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>

  	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.15.35/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.15.35/js/bootstrap-datetimepicker.min.js"></script>
{% endblock extra_staticfiles %}
{% block title %} Transaction {% endblock title %}
	{% block content_title %}Transaction{% endblock content_title %}
	{% block content %}
		<div class="row-fluid">
			<div class="span12">
				<div class="box">
					<div class="box-title">
						<h3>
							<div class="highlight-toolbar">
								<div class="pull-left">
									<div class="btn-toolbar">
										<div class="btn-group">
											<div class="pagination pagination-custom">
												<ul>
													<li><a href="#"><i class="icon-double-angle-left"></i></a></li>
													<li class="active"><a href="#">January 2016</a></li>
													<li><a href="#"><i class="icon-double-angle-right"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="btn-group">
											<a href="#CreateRevenue" data-toggle="modal" class="btn btn-success">Create Revenue</a>
										</div>
										<div class="btn-group">
											<a href="#CreateExpense" data-toggle="modal" class="btn btn-danger">Create Expense</a>
										</div>
									</div>
								</div>
							</div>
						</h3>
					</div>
					<div class="box-content nopadding">
						<table class="table table-hover table-nomargin table-bordered">
							<thead>
								<tr>
									<th>Datetime</th>
									<th>Category</th>
									<th>Description</th>
									<th class="hidden-1024">Nominal</th>
									<th class="hidden-480">Balance</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for transaction in transactions %}
								<tr>
									<td>{{ transaction.timestamp }}</td>
									<td>
										{{ transaction.category.name }}
									</td>
									<td class="hidden-350">{{ transaction.total_transaction }}</td>
									<td class="hidden-1024">{{ transaction.total_balance }}</td>
									<td class="hidden-480">X</td>
									<td></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endblock content %}

	{% block extra_body %}
		<div id="CreateRevenue" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form method="POST" action="{% url 'create_transaction' %}">
			{% csrf_token %}
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Create Revenue Transaction</h3>
			</div>
			<div class="modal-body">
				{{ form_revenue.timestamp|bootstrap_form_group:'datetime span5' }}<br>
				{{ form_revenue.category|bootstrap_form_group:'span5' }}
				{{ form_revenue.description|bootstrap_form_group:'span5' }}
				{{ form_revenue.total_transaction|bootstrap_form_group:'span5' }}
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
			</form>
		</div>

		<div id="CreateExpense" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form method="POST" action="{% url 'create_transaction' %}">
			{% csrf_token %}
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Create Expense Transaction</h3>
			</div>
			<div class="modal-body">
				{{ form_expense.timestamp|bootstrap_form_group:'datetime span5' }}
				{{ form_expense.category|bootstrap_form_group:'span5' }}
				{{ form_expense.description|bootstrap_form_group:'span5' }}
				{{ form_expense.total_transaction|bootstrap_form_group:'span5' }}
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
			</form>
		</div>
		<script type="text/javascript">
			$(function(){
				$('.datetime').datetimepicker();
			});
		</script>
	{% endblock extra_body %}